.image-background5
{
    height:250px;
    width:250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-background2
{
    height:150px;
    width:150px;
    background-size: cover;
    background-repeat: no-repeat;
}